.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.setupNavigation {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.setupNavigationone {
    width: 15%;
    height: 200px;
    
    float: left;
    padding-left:15px;
}
.setupNavigationtwo {
    margin-left: 15%;
    height: 200px;
    position: relative;
   
}
.setupForm{
    position: absolute;
    top: 0px;
    right: 0px;
}
.setupGrid {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.setupGrid td, .setupGrid th {
  border: 1px solid #ddd;
  padding: 8px;
}

.setupGrid tr:nth-child(even){background-color: #f2f2f2;}

.setupGrid tr:hover {background-color: #ddd;}

.setupGrid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333333;
  color: white;
}

#chatBox .container{max-width:1170px; margin:auto;}
#chatBox>img{ max-width:100%;}
#chatBox .inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
#chatBox .inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
#chatBox .top_spac{ margin: 20px 0 0;}


#chatBox .recent_heading {float: left; width:40%;}
#chatBox .srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
#chatBox .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

#chatBox .recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
#chatBox .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
#chatBox .srch_bar #chatBox .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
#chatBox .srch_bar #chatBox .input-group-addon { margin: 0 0 0 -27px;}

#chatBox .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
#chatBox .chat_ib h5 span{ font-size:13px; float:right;}
#chatBox .chat_ib p{ font-size:14px; color:#989898; margin:auto}
#chatBox .chat_img {
  float: left;
  width: 11%;
}
#chatBox .chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

#chatBox .chat_people{ overflow:hidden; clear:both;}
#chatBox .chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
#chatBox .inbox_chat { height: 550px; overflow-y: scroll;}

#chatBox .active_chat{ background:#ebebeb;}

#chatBox .incoming_msg_img {
  display: inline-block;
  width: 6%;
}
#chatBox .received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 #chatBox .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
#chatBox .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
#chatBox .received_withd_msg { width: 57%;}
#chatBox .mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 #chatBox .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
#chatBox .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
#chatBox .sent_msg {
  float: right;
  width: 46%;
}
#chatBox .input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

#chatBox .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
#chatBox .msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
#chatBox .messaging { padding: 0 0 50px 0;}
#chatBox .msg_history {
  height: 516px;
  overflow-y: auto;
}